### SALARY Prediction

### Step 1: Import Necessary Libraries

In [1]:
import pandas as pd

### Step 2: Load Dataset

In [2]:
salary=pd.read_csv('Salary Data.csv')

### Step 3: Read Dataframe using basic functions

In [3]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 772.0 bytes

In [5]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

### Step 4: Define Your Target(y) and Features(X)

In [6]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [8]:
y=salary['Salary']
X=salary[['Experience Years']]

### Step 5: Split

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)

### Step 6: Model Selection

In [12]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()

### Step 7:Train Model (fit model) here is ML starts actually

y=c+mx    ; c=? m=?

In [13]:
model.fit(X_train,y_train)

LinearRegression()

In [14]:
model.intercept_

27010.963630394683

In [16]:
model.coef_                    #This is actual ML model logic :- salary =27010 + 9343Experience + error

array([9343.3671387])

### Step 7: Prediction

In [17]:
model.predict(X_test)

array([ 90545.86017355,  59712.74861584, 106429.58430934,  64384.43218519,
        69056.11575454, 123247.645159  ,  84939.83989033,  63450.09547132,
        65318.76889906,  61581.42204358])

In [18]:
X_test

    Experience Years
29               6.8
11               3.5
33               8.5
16               4.0
19               4.5
38              10.3
27               6.2
14               3.9
17               4.1
12               3.7

### Step 8: Accuracy

In [19]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test,y_pred)